header{
    height: 500px;
    background-color: purple;
}

div{
height: 50px;
background-color: magenta;
position: sticky;
top: -2px;
}
div[stuck] {
    background-color: blue;
    box-shadow: 0 0 16px black;
}
p{
    font-size: 5em;
    width: 20vw;
}