@charset "UFT-8";

*{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
   
}
html{
    background-color: lightgreen;

}
body{
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: center;
    margin: 0;
    padding: 20px;
}
h2, h3, h4{
    text-align: center;
    margin: 0;
    padding: 10px;
}
header{
    background-color: green;
    color: white;
    margin: 0;
    
    
}
#logo{
    display: inline-block;
    height: 22vw;
    width: 19vw;    
    max-height: 160px;
    max-width: 136px;
    padding: 15px;
    position: relative;
    top: 20px
}
#titulo{
    font-size: 12vw; 
    display: inline-block;
    padding: auto;
}

.nav{
    background-color: darkgreen;
    height: 1.6em;
    width: 100vw;
    position: sticky;
    top: 0;
}

.nav>li{
    height: 1em;
    display: inline-block;
    width: 20vw;
    
}
.nav>a{
    color: white;
    font-size: 1.2em;
    font-weight:500;
    text-align: center;
    height: 1em;
    white-space: nowrap;
    text-decoration: none;

}

.nav>a:hover{
    background-color:white;
    text-decoration: none;
    
}

#blog{
    width: 15vw;
}
#inicio{
    width: 16vw;
}
main{
    background-color: white;
    max-width: 800px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 15px;
}

p{
    padding: 10px;
}

aside{
    max-width: 800px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

/* asside related content*/
.ass{
    background-color: lightgrey;
    border-radius: 15px;
}

p.ass{
    margin-top: 0;
    margin-bottom: 0;
}

ul.ass{
    margin-top: 0;
}

.ass>a{
    color: rgb(46, 46, 46);
    text-decoration: none;
}

.ass>li{
    padding-bottom: 12px;
    
}

a:hover{
    color: darkgreen;
    text-decoration: underline;
}

.imagens{
    width: 95%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

footer{
    background-color: darkgreen;
    margin: 0;
    padding: 10px;
    
    
}
footer>p{
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

footer>p>a{
    color: white;
    text-decoration: none;
}
footer>p>a:hover{
    text-decoration: underline;
    color: rgb(165, 236, 165)
}
@media only screen and (min-width: 750px){
    *{
        
    }
    .imagens{
        width: 80%;
        min-width: 690px;
    }
    

}

