@charset "UFT-8";

*{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    background-color: lightgreen;

}
body{
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: center;
    margin: 0;
    padding: 20px;
}
h2, h3, h4{
    text-align: center;
    margin: 0;
    padding: 10px;
}
header{
    background-color: green;
    color: white;
    
}
header>h1{
    font-size: 6em; 
}

.nav{
    background-color: darkgreen;
    height: 1.6em;
    width: 100vw;
}

.nav>li{
    height: 1em;
    display: inline-block;
    width: 19vw;
    
}
.nav>a{
    color: white;
    font-size: 1.2em;
    font-weight:500;
    text-align: center;
    height: 1em;
    white-space: nowrap;
    text-decoration: none;

}
span{
    width: auto;
    display: inline-block;

}
.nav>a:hover{
    background-color:white;
    text-decoration: none;
    
}


main{
    background-color: white;
    max-width: 800px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

p{
    padding: 10px;
}

aside{
    max-width: 800px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* asside related content*/
.ass{
    background-color: lightgrey;
    border-radius: 15px;
}

p.ass{
    margin-top: 0;
    margin-bottom: 0;
}

ul.ass{
    margin-top: 0;
}

.ass>a{
    color: rgb(46, 46, 46);
    text-decoration: none;
}

.ass>li{
    padding-bottom: 12px;
    
}

a:hover{
    color: darkgreen;
    text-decoration: underline;
}

img{
    width: 95%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

footer{
    background-color: darkgreen;
    margin: 0;
    padding: 10px;
    
}
footer>p{
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

@media only screen and (min-width: 750px){
    *{
        
    }
    img{
        width: 80%;
        min-width: 690px;
    }
    

}

